.text {
  width: 70%;
  @include respond(phone-med) {
    width: 100%;
  }

  font-size: 1.6rem;
  margin: 0 auto;

  span {
    display: inline-block;
    margin-bottom: 1rem;
  }
  .text-content {
    padding: 2rem 0;
    .para:not(:first-child) {
      margin-top: 1rem;
    }
    .para-1 {
      font-weight: 500;
    }
    .para-5 {
      font-weight: 500;
      ul {
        margin-left: 2rem;
        font-weight: 400;
      }
    }
  }
}
