.text {
  width: 70%;
  @include respond(phone-med) {
    width: 90%;
  }
  font-size: 1.8rem;
  margin: 0 auto;
  span {
    display: inline-block;
    margin-bottom: 1rem;
    @include respond(phone-med) {
      margin-bottom: 0.5rem;
    }
  }
  .text-content {
    text-align: justify;
    padding: 0.5rem 0 2rem 0;
    .para:not(:first-child) {
      margin-top: 1rem;
    }

    .para-5 {
      font-weight: 500;
      ul {
        margin-left: 2rem;
        font-weight: 400;
      }
    }
  }
}
